<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <!-- Required Stylesheets -->
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />

    <!-- Required scripts -->
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div id="todos" class="col align-items-center">
        <br>
        <b-btn class="col-12" v-b-toggle="'addTodo'" variant="primary">
            Create Item
        </b-btn>
        <br>
        <b-collapse id="addTodo">
            <br>
            <b-input-group prepend="Name">
                <b-form-input v-model="name" :state="nameState" aria-activedescendant="nameInputLiveFeedback">
                </b-form-input>
                <b-form-invalid-feedback id="nameInputLiveFeedback">
                    <!-- This will only be shown if the preceeding input has an invalid state -->
                    Enter at least 3 letters
                </b-form-invalid-feedback>
            </b-input-group>
            <br>

            <b-input-group prepend="Quantity">
                <b-form-input v-model="quantity" :state="quantityState" aria-activedescendant="quantityInputLiveFeedback">
                </b-form-input>
                <b-form-invalid-feedback id="quantityInputLiveFeedback">
                    <!-- This will only be shown if the preceeding input has an invalid state -->
                    Enter at least 1 letter
                </b-form-invalid-feedback>
            </b-input-group>
            <br>
            <b-btn class="col-12" v-on:click="addTodo(name,quantity)">
                Add
            </b-btn>
        </b-collapse>
        <br>
        <b-list-group>
            To Buy
            <b-list-group-item button v-for="todo in todos" v-if="!todo.done">
                <b-btn class="col-12" v-b-toggle="todo.id" variant="primary" v-bind:disabled="todo.done">
                    {{ todo.name }}
                    <b-badge variant="primary" pill>{{todo.quantity}}</b-badge>
                </b-btn>
                <b-collapse v-bind:id="todo.id" class="mt-2">
                    <b-btn class="col-12" v-on:click="finishTodo(todo.id)">Done</b-btn>
                </b-collapse>
            </b-list-group-item>
        </b-list-group>
        <br>
        <b-list-group>
            Done
            <b-list-group-item button v-for="todo in todos" v-if="todo.done">
                <b-btn class="col-12" v-b-toggle="todo.id" variant="success" v-bind:disabled="todo.done">
                    {{ todo.name }}
                    <b-badge variant="primary" pill>{{todo.quantity}}</b-badge>
                </b-btn>
                <b-collapse v-bind:id="todo.id" class="mt-2">
                    <b-btn class="col-12" v-on:click="finishTodo(todo.id)">Done</b-btn>
                </b-collapse>
            </b-list-group-item>
        </b-list-group>
    </div>
    <script src="./control.js"></script>
</body>

</html>